body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
    overflow: hidden;
}

.logo-pos {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 140px;
}

.soon {
    width: 100%;
    text-align: center;
    font-size: 5.5em;
    position: absolute;
    top: 50%;
}